#------splunk staging--------#
[splunk-staging-UF]
splunk-staging-universal-forwarder1

[splunk-staging-search]
splunk-staging-search-head1
splunk-staging-search-head2

[splunk-staging-idx-us]
splunk-staging-indexer1
splunk-staging-indexer2
splunk-staging-indexer3

[splunk-staging-idx-eu]
# Add eu indexers

[splunk-staging-idx:children]
splunk-staging-idx-us
splunk-staging-idx-eu

[splunk-staging-ds]
splunk-staging-deployment-server1

[splunk-staging-cm]
splunk-staging-cluster-master1

[splunk-staging-lm]
splunk-staging-license-master1

[splunk-staging:children]
splunk-staging-search
splunk-staging-idx
splunk-staging-cm
splunk-staging-lm
splunk-staging-ds
