#------splunk staging--------#
[splunk-staging-UF]
splunk-universal-forwarder1

[splunk-staging-search]
splunk-search-head1
splunk-search-head2

[splunk-staging-idx-us]
splunk-indexer1
splunk-indexer2
splunk-indexer3

[splunk-staging-idx-eu]
# Add eu indexers

[splunk-staging-idx:children]
splunk-staging-idx-us
splunk-staging-idx-eu

[splunk-staging-ds]
splunk-deployment-server1

[splunk-staging-cm]
splunk-cluster-master1

[splunk-staging-lm]
splunk-license-master1

[splunk-staging:children]
splunk-staging-search
splunk-staging-idx
splunk-staging-cm
splunk-staging-lm
splunk-staging-ds