[email]
mailserver = {{ stage.splunk_mailserver | default('mail.server.tld') }}
from = {{ stage.splunk_mailfrom | default('splunk@server.tld') }}
hostname = {{ stage.splunk_lb_hostname }}
pdf.header_left = {{ stage.splunk_pdf_header_left | default('none') }}
pdf.header_right = {{ stage.splunk_pdf_header_right | default('none') }}
auth_password = {{ stage.splunk_auth_password | default('') }}
auth_username = {{ stage.splunk_auth_username | default('') }}
use_tls = {{ stage.splunk_use_tls | default('0') }}
use_ssl = {{ stage.splunk_use_ssl | default('0') }}
maxresults = {{ stage.splunk_maxresults | default('100') }}