[ ca ]
default_ca = Custom_CA_default

[ Custom_CA_default ]
dir = {{ ca_conf_dir }}
unique_subject = no
new_certs_dir = {{ ca_generated_certs_dir }}
private_key = {{ ca_key }}
certificate = {{ ca_cert }}
database = $dir/cert_index.txt
serial = $dir/serial
default_days = {{ ca_default_days }}
default_md = sha256
policy = ca_policy
x509_extensions = v3_req

[ ca_policy ]
commonName = supplied
stateOrProvinceName = supplied
countryName = supplied
emailAddress = optional
organizationName = supplied
organizationalUnitName = optional

[ v3_ca ]
# Extensions for a typical CA (`man x509v3_config`).
keyUsage = critical, cRLSign, keyCertSign
basicConstraints = critical, CA:TRUE, pathlen:3
subjectKeyIdentifier = hash
authorityKeyIdentifier  = keyid:always, issuer:always
nsCertType = sslCA, emailCA

[ req ]
prompt = no
default_bits = 2048
default_keyfile = privkey.pem
distinguished_name = req_distinguished_name
attributes = req_attributes
string_mask = utf8only
req_extensions = v3_req

[ v3_req ]
# Extensions for a typical client (`man x509v3_config`).
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
basicConstraints = critical, CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid, issuer:always
subjectAltName = @alt_names

[ req_distinguished_name ]
# Set default values so we aren't prompted
# Country Name (2 letter code)
C = {{ stage.ca.ca_country }}

# State or Province Name (full name)
ST = {{ stage.ca.ca_state }}

# Locality Name (eg, city)
L = {{ stage.ca.ca_locality }}

# Organization Name (eg, company)
O = {{ stage.ca.ca_organization }}

# Organizational Unit Name (eg, section)
OU = {{ stage.ca.ca_organizational_unit }}

# Common Name (e.g. server FQDN or YOUR name)
CN = {{ ansible_fqdn }}

# Email Address
emailAddress = {{ stage.ca.ca_email }}

[ req_attributes ]
challengePassword               = A challenge password
challengePassword_min           = 4
challengePassword_max           = 20

unstructuredName                = An optional company name

[ alt_names ]
DNS.1                           = {{ ansible_fqdn }}