[settings]
{% if use_splunk_web -%}
enableSplunkWebSSL = true
httpport = {{ splunk_httpport }}

{% if use_internal_ca -%}
privKeyPath = etc/auth/{{ org_name }}/{{ ansible_hostname }}-splunkweb-priv-key.pem
caCertPath = etc/auth/{{ org_name }}/{{ ansible_hostname }}-splunkweb-cert.pem
{% else -%}
privKeyPath = etc/auth/splunkweb/privkey.pem
caCertPath = etc/auth/splunkweb/cert.pem
{%- endif %}
{% else -%}
startwebserver = 0
{%- endif %}